<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue課題＿マンツーマン</title>
    <link rel="stylesheet" href="dist/css/app.css">
    <script src="https://kit.fontawesome.com/cf78c0648b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main">
        <section class="section">
            <div id="app1">
                <!-- todo 記入 -->
                <input v-model="todo" class="write" placeholder="ここにTODO内容を書く">
                
                <!-- todo 送信 -->
                <div clss="app2">
                    <button v-on:click="add_todo" class="submit" type="submit">TODOを追加</button>
                </div>

                <!-- 絞り込み検索 -->
                <div class="app3">
                    <i class="fas fa-search"></i>
                    <input type="text" v-model="kensaku" class="search" placeholder="ここに絞り込みたいキーワードを入力する">
                    <p>{{ kensaku }}</p>
                        <!--<table>
                            <tr v-for="result in filter_todoList">
                                <td v-text="result.id"></td>
                                <td v-text="result.name"></td>
                                <td v-text="result.email"></td>
                            </tr>
                        </table>-->
                </div>

                <!-- todo_list 未完了 -->
                <div>
                    <ul>
                        <li v-for="(item,index) in reverse_todo_list" v-bind:key="item.id" v-if="item.checkbox === false" style="list-style: none;">
                            
                            <!-- 背景色変更処理 -->
                            <div class="app3" v-bind:style="{background: item.backgroundColor}">
                                <!--<p>{{ item.backgroundColor }}</p>-->
                                
                                <!-- チェックボックス　ON/OFF　処理 -->
                                {{ item.id }}.<input type="checkbox" v-on:click="li_style(item.id)" v-model="item.checkbox">
                                
                                <!-- todo修正ボックス -->
                                <input type="text" v-bind:value="item.todo" >

                                <!-- todo削除 -->
                                <button v-on:click="list_delete(index)" style="margin-left:10px"><i class="fas fa-trash-alt"></i></button>

                                <!-- タスクの登録時刻表示 -->
                                <span style="font-size: 50%; color:red">{{ item.today }}</span>
                                
                                <!--<p v-if="item.id !== 0">{{ log }} {{ item.todo}} {{ log2 }} {{item.today}} {{ index }}</p>-->
                                <p>{{ index }}</p>
                            </div>
                        </li>
                        <!--</div>-->
                    </ul>
                </div>

                <!-- todo_list 完了 -->
                <div>
                    <ul>
                        <li v-for="(item,index) in reverse_completed_todo_list" v-bind:key="item.id" v-if="item.checkbox === true" style="list-style: none;">
                            
                            <!-- 背景色変更処理 -->
                            <div class="app3" v-bind:style="{background: item.backgroundColor}">
                                
                                <!-- チェックボックス　ON/OFF　処理 -->
                                {{ item.id }}<input type="checkbox" v-on:click="li_style(item.id)" v-model="item.checkbox">
                                
                                <!-- todo修正不可ボックス -->
                                <input type="text" v-bind:value="item.todo" readonly>

                                <!-- todo削除 -->
                                <button v-on:click="list_delete(index)" style="margin-left:10px"><i class="fas fa-trash-alt"></i></button>

                                <!-- タスクの完了時刻表示 -->
                                <span style="font-size: 50%;">{{ item.completed_date }}</span>
                                <p>{{ index }}</p>

                            </div>
                        </li>
                    </ul>
                </div>
                
                


            </div>
        </section>
        
 <!--       
        
        
        
        
        
        
        
        
        
        <section class="section">
            <div id="app2">
                <input class="submit" type="submit" value="TODOを追加">
            </div>
        </section>
        
        
        
        
        
        
        
        
        
        
        
        
        <section class="section">
            <div id="app3">
                <i class="fas fa-search"></i>
                <input class="search" type="text" placeholder="ここに絞り込みたいキーワードを入力する">
            </div>
        </section>
        <section class="section">
            <ul>
                <div id="app4">
                    <li>
                        <input type="text" v-bind:value="todo">
                    </li>
                </div>
            </ul>
        </section>

    -->
        
        
    </div>
    
    <script src="dist/js/bundle.js"></script>
</body>
</html>